header{
    background: #1a191f;
}

.wrapper{
    background: #1a191f;
    min-height: 100vh;
    color: white;
}

.active-link{
    display: flex;
    align-items: center;
    padding: 1.25rem 1.25rem;
    text-transform: uppercase;
    transition: all;
    transition-duration: 200ms;
    background: rgba(55, 65, 81);
}

.link:hover{
    background: rgb(55, 65, 81);
}



.link{
    display: flex;
    align-items: center;
    padding: 1.25rem 1.25rem;
    text-transform: uppercase;
    transition: all;
    transition-duration: 200ms;
}


.nav-bar {
    background: #1a191f;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: all 0.3 ease-out;
}

.navOpen {
    opacity: 1;
    animation: navigationOpen 0.3s ease-out;
}

.burgerActive{
    background: rgb(249, 115, 22);
}

.navClosed{
    opacity: 0;
    z-index: -100;
    animation: navigationClosed 0.3s ease-out;
}

@keyframes navigationOpen {
    0% {
        opacity: 1;
        left: -100%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes navigationClosed {
    0% {
        opacity: 1;
        left: 0;
    }
    100% {
        opacity: 0;
        left: -100%;
    }
}